.table-address {
  word-break: break-all;
  max-width: 280px;
  min-width: 150px;
  text-overflow: ellipsis;
  overflow-y: auto;
  max-height: 50px;
  padding: 0 5px;
  margin-right: 20px;
}

.table-container {
  position: relative;
}

.table-subContainer {
  overflow: auto;
  height: calc(100vh - 230px);
  max-width: 98vw;
}

.table {
  min-width: 100%;
  border-collapse: collapse;

  th {
    text-align: left !important;
  }

  .table-head {
    border: 1px solid #dee2e6 !important;
  }

  .table-body {
    font-size: 13px !important;
  }

  .head-tr {
    height: 5rem;

    th > div {
      margin-right: 20px;
    }
  }

  .head-tr > th {
    vertical-align: middle !important;
  }

  .body-tr {
    height: 5rem;
    border-bottom: 1px solid #dee2e6 !important;
    font-size: 0.85rem;
  }

  .body-tr > td {
    vertical-align: middle !important;
    word-break: break-word;
  }
}

.table-status {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: space-evenly;
}

.emptyTable {
  padding: 1rem;
  font-size: 1.2rem;
}

.mentorId-image {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}

@include tableXL {
  .table {
    min-width: 1250px;
  }
}

@include tableL {
  .table-subContainer {
    height: calc(100vh - 250px);
  }
}

@media tableT {
  .table-subContainer {
    height: calc(100vh - 250px);
  }
}

@media tableTS {
  .table-subContainer {
    height: calc(100vh - 400px);
  }
}
