@import "../configs/colors";

// .table-address {
//   word-break: break-all;
//   max-width: 25rem;
//   min-width: 150px;
//   text-overflow: ellipsis;
//   overflow-y: auto;
//   max-height: 50px;
//   padding: 0 5px;
//   margin-right: 20px;
// }

.table-container {
  overflow: auto;
  margin: 1rem auto;
  max-height: calc(100vh - 250px);
}

.table {
  min-width: 100%;
  border-collapse: collapse;

  th {
    min-width: 8rem;
    text-align: left;
    padding-left: 1rem;
    font-weight: 500;
  }

  th:nth-child(1) {
    width: 5rem !important;
    min-width: 5rem !important;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  th:nth-last-child(1) {
    // width: 99% !important;
    min-width: 10rem !important;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .table-head {
    top: 0px;
    height: 3rem;
    position: sticky;
    font-size: 0.95rem;
    background-color: $theme_color_blue;
    color: $white;
  }

  .head-tr {
    height: 4rem;

    .custom-head {
      min-width: 20rem !important;
    }
  }

  .body-tr {
    height: 5rem;
    border-bottom: 1px solid #dee2e6;
    font-size: 0.85rem;

    td {
      padding: 0.5rem 1rem;
      cursor: default;
      min-height: 70px;
      word-break: keep-all;

      span {
        margin-left: 1rem;
        display: flex;
        align-items: center;
      }
    }
  }
}

.table-status {
  display: flex;
  height: 5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.table-empty {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #e1dede;

  div {
    display: flex;
    justify-content: center;
  }
}

.name-image-cell {
  display: flex;
}

// @include tableXL {
//   .table {
//     min-width: 1250px;
//   }
// }

@include tableL {
  .table-subContainer {
    height: calc(100vh - 250px);
  }
}

@media tableT {
  .table-subContainer {
    height: calc(100vh - 250px);
  }
}

@media tableTS {
  .table-subContainer {
    height: calc(100vh - 400px);
  }
}
