@import "../../../styles/configs/_fonts.scss";
@import "../../../styles/configs/_colors.scss";
@import "../../../styles/configs/_ui.scss";

.AddCarsPage {
  min-height: 350px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.flightDetails-table {
  width: 100%;
  min-width: 78rem;
  min-height: 4.5rem;
  background-image: linear-gradient(
    to right,
    $theme_color_lime,
    $theme_color_light_blue
  );
  display: grid;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  grid-template-columns: 1fr 2fr 1.2fr 1.2fr 2fr 3.5fr 2fr;
  align-items: center;

  > div {
    padding: 0.25rem 0.75rem;
  }
}

.add-data {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: none;
  margin-top: 2px;
  border-radius: 4px;
  gap: 2px;
  height: 90px;
}

.flightDetails-table > div {
  font-size: 14px;
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $light_blue !important;
}

.add-more {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.5rem;
  cursor: pointer;
}

.table-item {
  background-image: none;
  background-color: #f0f0f0;
}

.empty-table {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
}

.continue-button {
  padding: 10px 30px;
  background-color: #0b9dd8;
  color: white;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin: 4px 0.5rem 0px 0.5rem;

  &:hover {
    filter: brightness(1.05);
  }
}
