@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.ChatPage {
  max-height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: 35% 65%;
  flex: 1;
}

.chat-list {
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1rem;
  padding-right: 0;
  min-width: inherit !important;
  border-right: 0.25rem solid $theme_color_6;
  box-shadow: 0px 0px 0px $theme_color_6;

  ::-webkit-scrollbar-track {
    border: 3px solid $gray-100;
  }
}

.heading {
  height: 3.75rem;
  display: flex;
  align-items: center;
}

.chat-user-list {
  max-height: calc(100vh - 11rem);
  overflow: scroll;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

.user-chat {
  height: 4rem;
  display: grid;
  flex: 0 0 auto;
  grid-template-columns: 15% 85%;
  gap: 0.25rem;
}

.user-chat:hover {
  background-color: $theme_color_light_blue_2x;
}

.image-view {
  justify-self: center;
  align-self: center;
  position: relative;
  display: flex;
}

.chat-user-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.unseen-messages {
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  background-color: $theme_color_blue;
  border-radius: 50%;
  position: absolute;
}

.user-chat-data {
  display: grid;
  padding-top: 0.5rem;
  grid-template-columns: minmax(0, 1fr) max-content;
}

.user-chat-name {
  font-size: 0.95rem;
  font-weight: 500;
  align-self: center;
}

.user-chat-time {
  font-size: 10px;
  font-weight: 500;
  justify-self: flex-end;
  margin-right: 0.5rem;
  align-self: center;
}

.user-chat-message {
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.75rem;
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: 500;
  margin-right: 0.5rem;
  align-self: center;
  color: $theme_color_dark_grey;
}
