@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.navigation {
  &-sidebar {
    min-width: 16rem;
    padding-top: 1rem;
    background-color: $theme_color_blue;
  }
}

.small-navigation-sidebar {
  min-width: 5rem;

  a {
    span,
    div {
      display: none;
    }

    img {
      margin: auto;
    }
  }
}
