@import "../../../styles/configs/_colors.scss";

.AddTrainsPage {
  // min-height: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.table-grid {
  display: grid;
  grid-template-columns: 3rem 13rem 7rem 8rem 8rem 13rem 8rem 22rem 14rem;
  align-items: center;
}

.flightDetails-table {
  min-width: 100rem;
  width: 100%;
  min-height: 4rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  > div {
    padding: 0.25rem 0.5rem;
  }
}

.add-data {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: none;
  margin-top: 2px;
  border-radius: 0.25rem;
  gap: 2px;
  height: 90px;
}

.flightDetails-table > div {
  font-size: 0.95rem;
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.add-more {
  font-size: 0.9rem;
  margin: 0.5rem 0rem 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.table-item {
  background-color: $white;
  color: $dark;
  border-radius: 0;
  margin-top: 0.15rem;
}

.empty-table {
  height: 3rem;
  min-width: 100rem;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  justify-content: center;
}
