@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.pagination {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-end;

  &-button {
    display: flex;
    margin: 0 5px;
  }

  &-icon {
    width: 80%;
    cursor: pointer;
  }
}
