.pagination {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: flex-end;
  height: 1.5rem;

  &-button {
    display: flex;
    margin: 0 5px;
  }

  &-icon {
    width: 80%;
    cursor: pointer;
  }
}
