@import "../../../styles/configs/_colors.scss";

.AddFlightsPage {
  // min-height: 20rem;
  max-height: 550px;
  margin-top: 1rem;
  border-radius: 0.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.flightDetails-table {
  min-width: 100rem;
  width: 100%;
  min-height: 4rem;
  background-color: $theme_color_blue;
  color: $white;
  display: grid;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  grid-template-columns: 3rem 9rem 10rem 13rem 10rem 8rem 8rem 22rem 14rem;
  align-items: center;

  > div {
    padding: 0.25rem;
  }
}

.add-data {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: none;
  margin-top: 2px;
  border-radius: 0.25rem;
  gap: 2px;
  height: 90px;
}

.flightDetails-table > div {
  font-size: 0.95rem;
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: $light_blue !important;
}

.add-more {
  font-size: 0.9rem;
  margin: 0.5rem 0rem 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.table-item {
  background-color: $gray-200;
  color: $dark;
  border-radius: 0;
  margin-top: 0.15rem;
}

.empty-table {
  height: 3rem;
  display: flex;
  min-width: 100rem;
  align-items: center;
  font-size: 0.95rem;
  justify-content: center;
}
