@import "../../../styles/globals.scss";

.AddActivitiesPage {
  height: calc(92vh - 158px);
  margin-top: 16px;
  margin-left: 8px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.TransportationOptions {
  display: flex;
  margin: 10px 0 10px 8px;
  background-color: #f0eded;
  width: fit-content;
  border-radius: 5px;

  .option {
    padding: 10px 20px;
    border: none;
  }
  #active {
    background-color: #bcebd9;
    border-radius: 5px;
  }
}
