@import "../../styles/configs/colors";
@import "../../styles/configs/ui";

.input-radio-form {
  display: flex;
  margin-top: 4px;
  width: 100%;
  height: 1.5rem;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  justify-content: max-content;
}

.input-radio-label {
  font-size: 0.75rem;
  font-weight: 500;
}
