@import "../../../styles/globals.scss";

.itinerary-details {
  max-height: 30rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: $theme_color_light_blue_2x;
  margin-bottom: 1rem;
}

.itinerary-details-heading {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.no-itenary {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.75rem;
}

.basic-itinerary-details {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  margin-bottom: 0.75rem;

  .details-row {
    padding: 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.75fr;
    gap: 1rem;

    .detail-item {
      max-height: 3.5rem;
      .item-name {
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }
  .height-max {
    .detail-item {
      max-height: fit-content;
    }
  }
}

.additional-itinerary-details {
  padding: 1rem;
  margin-bottom: 0.75rem;

  .details-row {
    padding: 0rem;

    .detail-item {
      .item-name {
        font-weight: 600;
        font-size: 1rem;
      }
    }
  }
}

.image-background {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: $theme_color_blue_2x;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.image {
  width: 80px;
  height: 80px;
  color: $theme_color_9;
}

.itinerary-heading {
  font-size: large;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.itinerary-text {
  text-align: center;
  font-size: 1rem;
  max-width: 220px;
  margin-bottom: 0.75rem;
  color: $theme_color_dark_grey;
}

.create-itinerary-btn {
  color: $white;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: $light_blue;
}
