@import "../../../styles/globals.scss";

.itinerary-details {
  width: 100%;
  max-height: 400px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  display: flow-root;
  background-color: $theme_color_light_blue_2x;
}

.itinerary-details-heading {
  padding: 16px 16px;
  font-size: 16px;
  font-weight: 500;
}

.no-itenary {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12px;
}

.image-background {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: $theme_color_blue_2x;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.image {
  width: 80px;
  height: 80px;
  color: $theme_color_9;
}

.itinerary-heading {
  font-size: large;
  font-weight: 500;
  margin-bottom: 12px;
}

.itinerary-text {
  text-align: center;
  font-size: 16px;
  max-width: 220px;
  margin-bottom: 12px;
  color: $theme_color_dark_grey;
}

.create-itinerary {
  padding: 16px 48px !important;
  background-color: $theme_color_blue !important;
  color: $theme_color_white !important;
}
