@import "../../../styles/configs/colors";

.form-image {
  margin-left: 0px;
  width: 8rem;
  height: 4.3rem;
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
  justify-content: space-around;
  // background-color: $theme_color_light_blue_3x;
}

.not-selected-preview {
  width: 80%;
  height: 70%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.activity-image-placeholder {
  width: 8rem;
  height: 4.3rem;
  border-radius: 0.5rem;

  background-image: url("../../../assets/ic_upload-placeholder.svg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.activity-image-popup {
  color: $theme_color_light_blue;
  display: flex;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.cross {
  width: 1.5rem;
  height: 1.5rem;
  color: $white;
  background-color: $theme_color_dark_grey;
  border-radius: 50%;
  position: relative;
  bottom: 85%;
  left: 90%;
}
