@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.profilePage {
  height: calc(92vh - 1rem);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: auto;
}

.dashboard {
  display: grid;
  align-items: center;
}

.heading {
  font-size: x-large;
  font-weight: 400;
  display: grid;
  align-items: center;
  height: 60px;
}

.profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 20px;
}

.profile-image-wrapper {
  min-width: 10rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  background: $gray-200;
  border-radius: 50%;
  overflow: hidden;

  img {
    border-radius: 0 !important;
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 28px 68px;
  gap: 6px;
  border-radius: 0.5rem;
  color: $white;
  align-items: center;
  max-height: fit-content;
  background-color: $theme_color_blue;
}

.profile-name {
  font-size: large;
  font-weight: 600;
}

.profile-text {
  font-size: 0.95rem;
}

.profile-image-container {
  max-width: 10rem;
  max-height: 10rem;
}

.profile-edit-container {
  padding: 0.5rem 0.4rem 0.4rem 0.6rem;
  background-color: $theme_color_blue;
  max-width: fit-content;
  border-radius: 0.5rem;
  position: relative;
  left: 7rem;
  bottom: 3rem;
}

.profile-edit--icon {
  font-size: 1.5rem;
  color: $white;
}
