@import "../../../styles/configs/colors";
@import "../../../styles/configs/ui";

.input-toggle-form {
  display: flex;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.feild-heading {
  margin-top: 0.5rem;
  height: 20px;
  font-size: 0.9rem;
  padding: 0 0 0.5rem;
  // font-weight: 600;
}

.field-toggle-value {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 2rem;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $theme_color_light_blue_3x;
  transition: background-color ease 0.3s;

  &:focus {
    background-color: $theme_color_light_blue_3x;
    outline: none;
    border: none;
  }
}

.field-toggle-value:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: $theme_color_blue;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

// .field-toggle-value:checked {
//   background-color: #4CD964;
// }

.field-toggle-value:checked:before {
  left: 2rem;
}