@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.wrapper {
  width: 25rem;
  position: fixed;
  top: 3.5rem;
  right: 4%;
  overflow: hidden;
}

.toast {
  height: 6rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1.3fr 6fr 0.5fr;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
}

.success {
  border: 1px solid #47d76444;
  border-left: 3px solid #47d764;
}

.error {
  border: 1px solid #ff355a4f;
  border-left: 3px solid #ff355b;
}

.toast:not(:last-child) {
  margin-bottom: 1.25rem;
}

.outer-container,
.inner-container {
  align-self: center;
}

.outer-container i {
  font-size: 2rem;
}

.successicon {
  color: #47d764;

  svg {
    fill: #47d764 !important;
  }
}

.erroricon {
  svg {
    fill: #ff355b !important;
  }
}

.inner-container p:first-child {
  color: #101020;
  font-weight: 600;
  font-size: 1rem;
}

.inner-container p:last-child {
  font-size: 0.95rem;
  font-weight: 400;
  color: #656565;
}

.toast button {
  align-self: flex-start;
  background-color: transparent;
  font-size: 1.25rem;
  color: #656565;
  line-height: 0;
  cursor: pointer;
  margin-right: -30px;
}

.fas {
  width: 1.75rem;
  height: 1.75rem;
  color: red;
}

.done {
  color: #47d764 !important;

  svg {
    fill: #47d764 !important;
  }
}

#wrapper {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    right: -380px;
    opacity: 0;
  }

  to {
    right: 4%;
    opacity: 1;
  }
}

// @-webkit-keyframes fadeout {
//   from {
//     top: 30px;
//     opacity: 1;
//   }
//   to {
//     top: 0;
//     opacity: 0;
//   }
// }

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}
