@import "../../styles/globals.scss";

* {
  padding: 0;
  margin-left: 0;
  color: $theme_color_3;
}

.loginPage {
  height: calc(92vh - 16px);
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.login-form {
  padding: 28px;
  width: 60%;
  box-shadow: 4px 8px 32px 4px #e5f7ff;
  backdrop-filter: blur(15.5px);
  border-radius: 10px;
  background: rgba(229,247,255,0.05);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.heading {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 24px;
}

.strong-heading {
  color: $theme_color_blue;
  font-size: 24px;

}

.label {
  font-size: medium;
  margin-bottom: 12px;
}

.input-login-containers {
  width: 100%;
  margin-bottom: 24px;
  // color: $theme_color_3;
}

.custom-field {
  width: 100%;
  height: 52px;
  background-color: $theme_color_light_blue_3x;
  border: none;
  border-radius: 8px;
  padding-left: 12px;
  color: $theme_color_3;
}

.password {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 30%;
  right: 10px;
}

.input-icon {
  transform: scale(0.7);
}

.button-login {
  margin-top: 52px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease-out;
}

.button {
  width: 90%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  transition: all 1.5s ease-out;
  background-color:#fff;
  background-size: 120% auto;
  background-image: linear-gradient(45deg, $theme_color_lime 0%, $theme_color_light_blue 51%, $theme_color_blue 100%);
  color: white;
  font-size: large;
  -webkit-transition: 1s;
  box-shadow:0px 0px 15px 0 rgba(0,0,0,.1);
}

.button:hover {
  background-position: right center;
  cursor: pointer;
}


.signin-image {
  width: 100%;
  height: calc(92vh - 0px);
  background-color: $theme_color_5;
  display: grid;
  justify-items: center;
  align-items: center;
  object-fit: cover;
}

.side-nav-icon {
  color: $theme_color_white;
}