.select {
  &__menu {
    font-size: 1rem;
    max-width: 15rem;

    &-option--show {
      display: flex;
      overflow: hidden;
    }

    &-item--show {
      width: 3.05rem;
      height: 1.55rem;
      overflow: hidden;
      margin-right: 2px;
      font-size: 0.95rem;
      border-radius: 200px;
      padding: 3px 0 3px 6px;
      background: lightgray;
      text-overflow: ellipsis !important;
    }
  }
}

.dropdown {
  &__option-item {
    padding: 10px;

    > &-input {
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.button {
  border: 2px solid;
  width: 3.9rem !important;
  height: 1.55rem !important;
  font-size: 0.85rem !important;
  border-radius: 5px !important;
  padding: 4px 0.9rem !important;

  &__apply {
    color: #ffffff !important;
    border: #272727 !important;
    margin-right: 10px !important;
    background: #272727 !important;
  }

  &__clear {
    color: #939393 !important;
    border: #939393 !important;
    background: #ffffff !important;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.95rem;
  }
}
