@import "../../../styles/configs/_fonts.scss";
@import "../../../styles/configs/_colors.scss";
@import "../../../styles/configs/_ui.scss";

.sidebar {
  &-item {
    display: flex;
    align-items: center;
    height: 70px;
    color: $white;
  }

  &-icon {
    margin: auto 10px auto 20px;
  }
}

.sidebar-item:hover,
.item-active {
  background: $white;
  color: $light-blue;
  img {
    filter: invert(61%) sepia(52%) saturate(4519%) hue-rotate(162deg)
      brightness(89%) contrast(92%);
  }
}


.sidebar-count {
  flex: 1;
  padding: 4px;
  font-size: large;
  display: flex;
  justify-content: end;
}

.sidebar-count-view {
  border-radius: 50%;
  text-align: center;
  background: white;
  color: $theme_color_blue;
  align-self: center;
  height: 28px;
  width: 28px;
  margin-right: 16px;
}