@import "../../../styles/configs/_colors.scss";

.sidebar {
  &-item {
    display: flex;
    align-items: center;
    height: 70px;
    color: $white;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &-icon {
    margin: auto 10px auto 20px;
  }
}

.sidebar-item:hover,
.item-active {
  background: $white;
  color: $light-blue;

  img {
    filter: invert(61%) sepia(52%) saturate(4519%) hue-rotate(162deg)
      brightness(89%) contrast(92%);
  }

  .sidebar-count-view {
    background: $theme_color_blue;
    color: $white;
  }
}

.sidebar-count {
  flex: 1;
  padding: 0.25rem;
  font-size: large;
  display: flex;
  justify-content: flex-end;
}

.sidebar-count-view {
  border-radius: 50%;
  text-align: center;
  background: $white;
  color: $theme_color_blue;
  align-self: center;
  height: 28px;
  width: 28px;
  margin-right: 16px;
}
