@import "../../../styles/configs/colors";
@import "../../../styles/configs/ui";

.add-itinerary-data-form {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.form-background {
  width: 70vw;
  max-width: 60rem;
  height: 90vh;
  border-radius: 0.75rem;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-block {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  gap: 4px;
  position: relative;
}

.form-required-feilds {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  display: grid;
  column-gap: 60px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.form-left-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cross {
  width: 1.5rem;
  height: 1.5rem;
  color: $white;
  background-color: $theme_color_dark_grey;
  border-radius: 50%;
  justify-self: end;
  align-self: baseline;
  margin-top: 2rem;
  margin-left: 0.75rem;
}

.button-save {
  margin-top: 20px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease-out;
}

.form-button-text {
  width: 30%;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $theme_color_light_blue;
  font-size: large;
}

.form-button-text:hover {
  cursor: pointer;
}

.form-heading {
  width: 100%;
  margin: 10px 0;
}

.bold {
  font-weight: bold;
}

.add-more {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.5rem;
  cursor: pointer;
}
