@import "../../../styles/configs/colors";

.AddActivitiesPage {
  height: calc(92vh - 158px);
  margin-top: 1rem;

  overflow: auto;
  display: flex;
  flex-direction: column;
}

.TransportationOptions {
  display: flex;
  margin: 10px 0 10px 0rem;
  background-color: $gray-200;
  width: fit-content;
  border-radius: 0.5rem;
  font-size: 0.85rem;

  .option {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  #active {
    background-color: $theme_color_blue;
    border-radius: 5px;
    color: $white;
  }
}