@import "../../styles/globals.scss";

.statsPage {
  height: calc(92vh - 16px);
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.dashboard {
  display: grid;
  align-items: center;
}

.heading {
  font-size:x-large;
  font-weight: 400;
  display: grid;
  align-items: center;
  height: 60px;
}

.stats {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 200px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 32px;
}

.stat-box {
  width: 260px;
  height: 160px;
  background-color: $theme_color_light_blue;
  display: grid;
  justify-items: center;
  align-items: end;
  row-gap: 12px;
  border-radius: 20px;
}

.feild-number {
  font-size: xx-large;
  color: $theme_color_white;
  font-weight: 700;
}

.feild-name {
  font-size: larger;
  align-self: start;
  color: $theme_color_white;
}

.pending {
  justify-self: end;
}

.completed {
  justify-self: start;
}

.rating {
  height: 48px;
  background-image: linear-gradient(
    to right,
    $theme_color_lime,
    $theme_color_light_blue
  );
  border-radius: 8px;
  margin-bottom: 32px;
}

.rating-text {
  font-size: large;
  margin-left: 20px;
}

.overall-ratings {
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $theme_color_light_blue_2x;
  max-height: 200px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.stars {
  margin-top: 32px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.star-icon {
  font-size: 24px;
  svg {
    height: 100%;
    width: 100%;
  }


.overall-experience {
  margin-top: 8px;
  font-weight: 500;
  font-size: x-large;
}

.experience-note {
  max-width: 380px;
  margin-top: 12px;
  margin-bottom: 32px;
  text-align: center;
  font-size: medium;
  color: $theme_color_8;
}
