@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

.dashboard-stats {
  height: 14rem;
  margin: 1.5rem auto;
  justify-items: center;
  min-width: fit-content;
  @include flexAlignCenter();
  justify-content: space-evenly;
}

.card-container {
  margin: 1rem;
  width: 16rem;
  height: 10rem;
  color: $white;
  padding: 1rem;
  border-radius: 1.5rem;
  min-width: fit-content;
  flex-direction: column;
  justify-content: center;
  @include flexAlignCenter();
  background-color: $theme_color_light_blue;
}

.card-value {
  font-size: 2rem;
  font-weight: 700;
}

.card-title {
  font-size: 1.5rem;
}

.rating-text {
  font-size: 1rem;
  height: 3rem;
  padding-left: 1rem;
  background-color: $theme_color_blue;
  color: $white;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  @include flexAlignCenter();
}

.overall-ratings {
  width: 80%;
  display: grid;
  margin: 0 auto;
  max-height: 15rem;
  align-items: center;
  justify-items: center;
  border-radius: 1.5rem;
  background-color: $theme_color_light_blue_2x;
}

.stars {
  gap: 1rem;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.star-icon {
  font-size: 1rem;
  svg {
    height: 100%;
    width: 100%;
  }
}

.overall-experience {
  font-weight: 500;
  font-size: x-large;
  margin-top: 0.5rem;
}

.experience-note {
  max-width: 25rem;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: medium;
  color: $theme_color_8;
}
