@import "../../styles/configs/_colors.scss";

.itenaryPage {
  height: calc(92vh - 1rem);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: auto;
}

.assigned-itinerary-container {
  max-height: calc(100vh - 13rem);
  margin-bottom: 0;
}

.table-data-status {
  display: flex;
  min-height: 2rem;
  min-width: 5rem;
  align-items: center;
  border-radius: 2rem;
  justify-content: center;
  background-color: $theme_color_light_blue_2x;
}

// .left {
//   padding: 2px;
//   border-radius: 0.25rem;
//   background-color: $theme_color_light_blue_2x;
// }

// .right {
//   padding: 2px;
//   background-color: $theme_color_light_blue;
//   border-radius: 0.25rem;
// }
