@import "../../styles/globals";

.app {
  &__header {
    opacity: 1;
    background: #fafafa;
    box-shadow: 0px 0px 15px 3px silver;
  }

  &__logo-text {
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 10px;
    position: absolute;
  }

  &__link {
    color: white;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      color: #e21a1b;
      text-decoration: none;
    }
  }
}
