@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.header {
  height: 5rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid #e1e1e18f;
}

.header-logo {
  font-weight: 800;
  font-size: 1.5rem;
  color: $theme_color_blue;
}

.header-right {
  display: flex;
}

.notification {
  margin: 1rem 2rem;
}

.notification-icon {
  font-size: 1.6rem;
  cursor: pointer;
}

.user-data {
  gap: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

.image-container {
  width: 2.5rem;
  height: 2.5rem;
  justify-self: flex-end;
}

.user-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-welcome {
  font-size: 0.75rem;
  color: $theme_color_dark_grey;
}

.user-name {
  font-size: 1rem;
  font-weight: 600;
}
