@import "../../../styles/configs/colors";
@import "../../../styles/configs/ui";

.image-popup-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-popup {
  width: 40rem;
  height: 25rem;
  background-color: $white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-background {
  max-width: 33rem;
  max-height: 18.5rem;
  border-radius: 0.75rem;
  margin: 1rem;
}

.cross {
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
  background-color: #484848;
  border-radius: 50%;
  position: relative;
  top: 1rem;
  left: 18rem;
  cursor: pointer;
}
