@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 485px;
}

.page--bottom {
  display: flex;
  flex: 1;
  background-color: $white;
}

.dynamicContainer {
  flex: 1;
}
