@import "../../../styles/configs/colors";

.AddActivitiesPage {
  max-height: 25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.add-activities {
  min-width: 82rem;
  // width: 100%;
  background-color: $theme_color_blue;
  color: $white;
  display: grid;
  min-height: 4rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  grid-template-columns: 1fr 3fr 4fr 2fr 2fr 3fr 5fr 4fr;
  align-items: center;

  > div {
    padding: 0.25rem;
  }
}

.add-activities > div {
  font-size: 0.95rem;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.add-data {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: none;
  margin-top: 2px;
  border-radius: 0.25rem;
  gap: 2px;
  height: 90px;

  > div {
    // padding: 0;
    // margin-right: 0.5rem;
  }
}

.forms {
  // width: 100%;
  // max-height: calc(92vh - 248px);
  // overflow: auto;
}

.add-activities .day-blank {
  font-size: 0.75rem;
  margin-left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  height: 100%;
  border-radius: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.edit-background {
  border: 2px solid $theme_color_blue;
  background-color: $white;
}

input:focus {
  outline: none;
  border: 2px solid $theme_color_light_blue;
  background-color: $white;
}

.fixed-background {
  background-color: $theme_color_light_blue_3x !important;
  border: none;
}

.day-blank.image {
  justify-content: space-around;
  background-color: $theme_color_light_blue_3x;

  .not-selected-preview {
    width: 80%;
    height: 70%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 2px solid $theme_color_blue;
    border-radius: 0.5rem;
  }
}

.activity-image-preview {
  max-width: 100%;
  max-height: 78px;
  justify-self: center;
  object-fit: cover;
  border-radius: 0.5rem;
}

.activity-image-placeholder {
  width: 20px;
  height: 20px;
  color: $theme_color_blue;
}

.add-more-error {
  font-size: 0.5rem;
  color: red;
}

.add-more {
  font-size: 0.9rem;
  margin: 0.5rem 0rem 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.table-item {
  background-color: $gray-200;
  color: $dark;
  border-radius: 0;
  margin-top: 0.15rem;
}

.empty-table {
  height: 3rem;
  display: flex;
  min-width: 82rem;
  align-items: center;
  font-size: 0.95rem;
  justify-content: center;
}
