@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.SelectDropdown-container {
  margin-right: 35px;
  font-size: 13px !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 6px;
  width: 260px;
  height: 40px;
  margin-left: 10px;
}

.notification-input-container {
  width: 150px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 45px;
  margin: auto;
  margin-left: 20px;
  width: 55%;
  border-radius: 5px;
}

.notifications-main-div {
  display: flex;
  height: 100%;
  width: 100%;
}

.notifications-message-div {
  width: 400px;
}

.notifications-textarea {
  width: 100%;
  height: 25%;
  padding: 10px;

  min-width: 150px;
  max-width: 400px;
  min-height: 150px;
  max-height: 500px;

  resize: none;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 15px;
  background-color: rgb(236, 234, 234);
}

.notifications-message-heading {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-selection-main-div {
  border: 1px solid #a3a3a3;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 450px;
  margin-left: 40px;
  margin-right: 40px;
  height: 700px;
}

.user-selection-header {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #a3a3a3;
}

.user-selection-left {
  margin-left: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.user-selection-right {
  margin-left: auto;
  margin-right: 10px;
  display: block;
  font-size: 0.95rem;
  cursor: pointer;
}

.user-selection-list {
  overflow: auto;
  margin: 1rem;
}

.user-selection-element {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .checkbox {
    margin-left: 10px;
    transform: scale(1.2);
  }
}

.user-selection-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 15px;
}

.user-selection-name {
  font-size: 16px;
}

.user-selection-email {
  font-size: 12px;
}

.user-selection-info {
  margin-left: 10px;
}

///////////// MODAL ///////////

.backdrop-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: $global_white_color;
  width: 400px;
  height: 180px;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

//     transition: all .50s ease-in-out;;
//     animation: animName 0.4s;
// }

// @keyframes animName {
//     0% {
//         top: -50%;
//     }
//     80% {
//         top: 55%;
//     }
//     100% {
//         top: 50%;
//     }
//   }

//  .data-model-closing {
//     animation: animeCloseName 0.4s !important;
//  }

//  @keyframes animeCloseName {
//     0% {
//         top: 50%;
//     }
//     80% {
//         top: 55%;
//     }
//     100% {
//         top: -50%;
//     }
//   }

.data-title {
  font-size: 20px;
  font-weight: bold;
}

.data-message {
  width: 80%;
  text-align: center;
  font-size: 16px;
}

.data-button {
  background-color: $theme_color_1;
  width: 80%;
  height: 45px;
  border-radius: 5px;
  color: $global_white_color;
  font-size: 16px;
}

.data-button:hover {
  filter: brightness(110%);
}

.select-all {
  display: flex;
  gap:4px;
}