@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.SelectDropdown-container {
  margin-right: 2.25rem;
  font-size: 13px !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 0.5rem;
  width: 260px;
  height: 2.5rem;
  margin-left: 0.75rem;
}

.notification-input-container {
  width: 10rem;
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
  height: 3rem;
  margin: auto;
  margin-left: 1.25rem;
  width: 55%;
  border-radius: 0.5rem;
}

.notifications-main-div {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: calc(100vh - 10.5rem);
  overflow: auto;
  gap: 3rem;

  .notifications-message-div {
    width: 30rem;
  }

  .notifications-textarea {
    width: 100%;
    height: 18rem;
    padding: 10px;

    min-width: 10rem;
    max-width: 30rem;
    min-height: 10rem;
    max-height: 500px;

    resize: none;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: rgb(236, 234, 234);
  }

  .notifications-message-heading {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
  }
}

.container-right {
  > div:first-of-type {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  .user-selection-main-div {
    border: 1px solid #a3a3a3;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 33rem;
  }

  .user-selection-header {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #a3a3a3;
  }

  .user-selection-left {
    margin-left: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .user-selection-right {
    margin-left: auto;
    margin-right: 10px;
    display: block;
    font-size: 0.95rem;
    cursor: pointer;
  }

  .user-selection-list {
    overflow: auto;
    margin: 1rem;
    max-height: 600px;
  }

  .user-selection-element {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;

    .checkbox {
      margin-left: 10px;
      transform: scale(1.2);
    }
  }

  .user-selection-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 15px;
  }

  .user-selection-name {
    font-size: 1rem;
  }

  .user-selection-email {
    font-size: 12px;
  }

  .user-selection-info {
    margin-left: 10px;
  }
}

.select-all {
  display: flex;
  gap: 4px;
}


.user-selection-img-dummy {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-100;
}

.dummy-image {
  color: $gray-500;
}
