@import "../../styles/configs/colors";
@import "../../styles/configs/ui";

.notification-popup {
  position: absolute;
  width: 400px;
  top: 5.5rem;
  right: 16.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.box {
  width: 100%;
  height: 100%;
  color: black;
  background-color: $theme_color_light_blue_3x;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
  float: left;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 0 0.5rem $theme_color_light_blue;
  box-shadow: 0 0 0.5rem $theme_color_light_blue;
}

.box.arrow:after {
  content: "";
  position: absolute;
  right: 18px;
  top: -25px;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 25px solid $theme_color_light_blue_3x;
}

.notification-heading {
  font-size: 0.95rem;
  font-weight: 700;
  border-bottom: 2px solid $theme_color_blue;
  padding-left: 0.75rem;
  padding-bottom: 0.75rem;
}

.list-container {
  min-height: 4rem;
  max-height: 30rem;
  overflow: auto;
}

.notification-wrapper {
  border-bottom: 1px solid $theme_color_blue;
  padding: 0.25rem;

  .notification-user-data {
    display: grid;
    height: 60px;
    gap: 0.5rem;
    grid-template-columns: max-content auto;
    cursor: pointer;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background-color: $theme_color_light_blue;
    }
  }
}

.notification-image-container {
  width: 44px;
  height: 44px;
  align-self: center;
  margin-left: 0.75rem;
}

.notification-user-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.notification-user-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.25rem;
  flex-basis: auto;
  justify-content: center;
}

.notification-user-message {
  font-size: 0.75rem;
}

.notification-user-time {
  font-size: 10px;
  color: $theme_color_dark_grey;
  font-weight: 600;
}
