@import "../../../styles/globals";

.add-itinerary-data-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $theme_color_dark_grey;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-background {
  width: 70vw;
  height: 90vh;
  border-radius: 12px;
  background-color: $theme_color_white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-block {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  gap: 4px;
  position: relative;
}

.form-image {
  margin-left: 0px;
  width: 120px;
  display: flex;
  align-items: center;
  padding: 4px;
  height: 60px;
  border-radius: 8px;
  justify-content: space-around;
  background-color: $theme_color_light_blue_3x;
}

.form-image > .not-selected-preview {
  width: 80%;
  height: 70%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.activity-image-placeholder {
  width: 20px;
  height: 20px;
  color: $theme_color_light_blue;
}

.activity-image-popup {
  color: $theme_color_light_blue;
  display: flex;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.form-required-feilds {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 100%;
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
}

.form-left-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cross {
  width: 24px;
  height: 24px;
  color: $theme_color_white;
  background-color: $theme_color_dark_grey;
  border-radius: 50%;
  justify-self: end;
  align-self: baseline;
  margin-top: 32px;
  margin-left: 12px;
}

.button-save {
  margin-top: 20px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease-out;
}

.form-button-text {
  width: 30%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  transition: all 1.5s ease-out;
  background-color: $theme_color_light_blue;
  background-size: 120% auto;
  color: $theme_color_3;
  font-size: large;
  -webkit-transition: 1s;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

.form-button-text:hover {
  cursor: pointer;
}

.form-heading {
  width: 100%;
  margin: 10px 0;
}

.bold {
  font-weight: bold;
}

.add-more {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
}
