@import "../../../styles/globals.scss";

* {
  padding: 0;
  box-sizing: border-box;
}

.AddActivitiesPage {
  height: calc(92vh - 158px);
  margin-top: 16px;
  margin-left: 8px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


.add-activities {
  width: 100%;
  background-image: linear-gradient(to right, $theme_color_lime , $theme_color_light_blue);
  display: grid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  grid-template-columns: .25fr .75fr .9fr .6fr .6fr .9fr 1fr 1fr;
  align-items: center;
}


.add-data {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: none;
  margin-top: 2px;
  border-radius: 4px;
  gap:2px;
  height: 90px;
}

.add-activities > div {
  font-size: 12px;
  margin-left: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.forms {
  width: 100%;
  max-height: calc(92vh - 248px);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $theme_color_blue !important;
}

.add-activities .day-blank {
  font-size: 12px;
  margin-left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px;
  height: 100%;
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.edit-background {
  border: 2px solid $theme_color_blue;
  background-color: $theme_color_white;
}

input:focus{
  outline: none;
   border: 2px solid $theme_color_light_blue;
   background-color: $theme_color_white;
}


.fixed-background {
  background-color: $theme_color_light_blue_3x !important;
  border: none;
}

.day-blank.image {
  justify-content: space-around;
  background-color: $theme_color_light_blue_3x
}

.not-selected-preview {
  width: 80%;
  height: 70%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 2px solid $theme_color_blue;
  border-radius: 8px;
}

.activity-image-preview {
  max-width: 100%;
  max-height: 78px;
  justify-self: center;
  object-fit: cover;
  border-radius: 8px;
}

.activity-image-placeholder {
  width: 20px;
  height: 20px;
  color: $theme_color_blue;
}

.add-activity-buttons {
  display: flex;
  flex-basis: auto;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 8px
}


.activity-button {
  display: flex;
  height: 28px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.activity-button.edit {
  border: 2px solid $theme_color_blue;
  border-radius: 8px ;

}

.activity-button > div {
  font-size: 14px;
}

.activity-button.delete {
  background-color: red;
  color: $theme_color_white;
  border-radius: 8px ;
}

.add-more-error {
  font-size: 8px;
  color: red;
  
}

.add-more {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  cursor: pointer;
}