@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.tab-group {
  gap: 1rem;
  display: grid;
  height: 3.5rem;
  align-items: center;
  margin-bottom: 1rem;
  grid-template-columns: max-content max-content;
}

.tab-option {
  padding: 1rem 1.25rem;
  cursor: pointer;
  font-weight: 500;
  color: #000000;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  background-color: $theme_color_5;
}

.tab-selected {
  background-color: $theme_color_blue;
  color: $white;
}

.status-chat {
  display: grid;
  grid-template-columns: max-content max-content auto;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  margin-bottom: 20px;
}

.time-icon {
  height: 100%;
  width: 3rem;
}

.status-view {
  display: grid;
  align-items: center;
  height: 100%;
}

.status {
  font-size: 1rem;
  text-align: start;
  // margin-top: 4px;
  font-weight: 500;
}

.status-text {
  font-size: 14px;
  align-self: flex-end;
  font-weight: 500;
  padding-bottom: 4px;
  color: $theme_color_3;
}

.chat {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-self: end;
  gap: 0.5rem;
  padding: 0.75rem 44px;
  justify-self: flex-end;
  color: $white;
  border-radius: 0.5rem;
  background-color: $theme_color_blue;
}

.trip-details {
  width: 100%;
  max-height: 17rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: $theme_color_light_blue_2x;
}

.trip-details-heading {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.trip-details-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1rem;
  font-size: 14px;
  margin-bottom: 0.5rem;
  justify-items: start;
  align-items: center;
}

.key {
  font-weight: 600;
  margin-bottom: 6px;
}

.value {
  font-size: 0.75rem;
}
.assigned-specialist {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-items: center;
  align-self: center;
}

.specialist-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.specialist-details {
  margin-left: 0.5rem;
  display: grid;
  align-items: center;
}

.specialist-detail {
  align-self: baseline;
}
