@import "../../styles/configs/_colors.scss";

.tab-group {
  // gap: 1rem;
  display: grid;
  min-height: 3.5rem;
  max-height: 4.5rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(115deg, #1acc6f33 0%, rgb(11 157 216 / 20%) 100%)
    0% 0% no-repeat padding-box;

  grid-template-columns: auto auto auto auto auto auto auto auto;
}

.itinerary-pending {
  grid-template-columns: auto auto;
  width: fit-content;
  min-width: 12rem !important;
}

.tab-option {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
}

.tab-selected {
  // background-color: $teal;
  background: linear-gradient(
      165deg,
      rgba(26, 204, 111, 0.5) 0%,
      rgba(11, 157, 216, 0.25) 100%
    )
    0% 0% no-repeat padding-box;
}

.status-chat {
  display: grid;
  grid-template-columns: max-content max-content auto;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  margin-bottom: 20px;
}

.time-icon {
  height: 100%;
  width: 3rem;
}

.status-view {
  display: grid;
  align-items: center;
  height: 100%;
}

.status {
  font-size: 0.9rem;
  text-align: start;
  // margin-top: 0.25rem ;
  font-weight: 600;
}

.status-text {
  font-size: 0.9rem;
  align-self: flex-end;
  font-weight: 500;
  padding-bottom: 0.25rem;
  color: $theme_color_3;
}

.chat {
  display: flex;
  font-size: 0.95rem;
  align-items: center;
  padding: 0.75rem 44px;
  justify-self: flex-end;
  color: $white;
  border-radius: 0.5rem;
  background-color: $theme_color_blue;
  cursor: pointer;
}

.trip-details {
  width: 100%;
  max-height: 17rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: $gray-100;
}

.trip-details-heading {
  padding: 1rem;
  font-size: 1.09rem;
  font-weight: 600;
}

.trip-details-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1rem;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  justify-items: start;
  align-items: center;
}

.key {
  font-weight: 600;
  margin-bottom: 6px;
}

.value {
  font-size: 0.75rem;
}

.assigned-specialist {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-items: center;
  align-self: center;
}

.specialist-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.specialist-details {
  margin-left: 0.5rem;
  display: grid;
  align-items: center;
}

.specialist-detail {
  align-self: baseline;
}

.itinerary-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
