@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

.content-container {
  flex: 1;
  overflow: auto;
  padding: 1.5rem;
  // display: flex;
  // flex-direction: column;
}

.content {
  min-width: fit-content;
  min-height: fit-content;
}

.content-top,
.content-mid {
  flex-wrap: wrap;
  min-height: 3.5rem;
  @include flexAlignCenter();
  justify-content: space-between;
}

.content-heading {
  font-size: 1.3rem;
  @include flexAlignCenter();
}

.content-bottom {
  flex-direction: column;
}
