@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  margin: 35px;
  margin-bottom: 0;
  min-width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
}

.content-heading {
  font-size: 24px;
}

.content-top {
  @include flexAlignCenter();
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-top-left {
  @include flexAlignCenter();
  margin-left: 20px;
  justify-content: space-between;
}

.content-bottom {
  flex: 1;
  margin-top: 30px;
}

.date-filter {
  margin: 0.5rem 1px;
  background: #e4e6e552;
  padding: 0.5rem 1rem;
  border-radius: 10px;

  button,
  button:hover {
    background-color: $theme_color_2;
    color: white;
  }

  * {
    border-color: black !important;
  }
}

.content-middle {
  @include flexAlignCenter();
}

.content-center {
  @include flexAlignCenter();
}

.heading-text {
  font-size:x-large;
  font-weight: 400;
}