@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

.itinerary-details-container {
  overflow: auto;
  margin-bottom: 0.5rem;
}

.content-container {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  max-height: calc(100vh - 5rem);

  >section,
  >div {
    min-width: 1000px;
  }

  // display: flex;
  // flex-direction: column;
}

.content {
  // min-width: fit-content;
  min-height: fit-content;
}

.content-top,
.content-mid {
  flex-wrap: wrap;
  min-height: 3.5rem;
  @include flexAlignCenter();
  justify-content: space-between;
}

.content-heading {
  font-size: 1.3rem;
  @include flexAlignCenter();
}

.content-bottom {
  flex-direction: column;
  min-width: 54rem;
}