/******************************************/
/************01 DATE PICKER ***************/
/******************************************/

.datePicker-container {
  position: relative;
  margin-right: 20px;
  border: 1px solid #dee2e6 !important;
  border-radius: 6px;
  width: 140px;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 14px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100px !important;
  border: none;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: $theme_color_1 !important;
  color: #ffffff !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: $theme_color_1 !important;
  color: #ffffff !important;
}

.react-datepicker__input-container input:focus {
  outline: none;
}

.react-datepicker__close-icon::after {
  background-color: $theme_color_1 !important;
}
