// global transition factor
$global_transition: all 0.2s ease-in-out;
$global_margin: 0px;
$global_padding: 0px;
$global_header_gradient: $theme_background;
$global_box_shadow: 0px 0px 10px 1px silver;
$global_box_shadow_1: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

$global_component_margin: 20px;
$global_border_radius: 5px;
$global_container_padding: 10px;
$global_black_color: #383838;
$global_white_color: #fff;
$global_grey_one: #868686;
