@import "../../styles/globals.scss";

.itenaryPage {
  height: calc(92vh - 16px);
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $theme_color_blue !important;
}

.dashboard {
  display: grid;
  align-items: center;
}

.heading {
  font-size: x-large;
  font-weight: 400;
  display: grid;
  align-items: center;
  height: 60px;
}

.pagination {
  align-items: center;
  height: 28px;
  font-size: 20px;
  text-align: end;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  justify-content: end;
}

.left {
  padding: 2px;
  border-radius: 4px;
  background-color: $theme_color_light_blue_2x;
}
.right {
  padding: 2px;
  background-color: $theme_color_light_blue;
  border-radius: 4px;
}

.pagination-text {
  font-size: 14px;
  color: $theme_color_3;
}

.itenary-list {
  margin-top: 12px;
  overflow-y: auto;
  height: calc(92vh - 124px);
}

.itenary-list thead {
  background-image: linear-gradient(
    to right,
    $theme_color_lime,
    $theme_color_light_blue
  );
  position: sticky;
  top: 0;
  height: 40px;
  border-radius: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow-y: auto;
  max-height: calc(92vh - 164px);
}

table th:first-child {
  border-radius: 8px 0 0 8px;
}

table th:last-child {
  border-radius: 0 8px 8px 0;
}

th:nth-child(1) {
  width: 5%;
}

th:nth-child(2) {
  width: 20%;
}

th:nth-child(3) {
  width: 10%;
}

th:nth-child(4) {
  width: 20%;
}

th:nth-child(5) {
  width: 15%;
}

th:nth-child(6) {
  width: 15%;
}

th:nth-child(7) {
  width: 15%;
}

.table-head {
  font-weight: 500;
  text-align: start;
  font-size: 14px;
  padding-left: 8px;
}

.table-data-row {
  height: 68px;
  border-top: 2px solid $theme_color_light_blue_2x;
}

.table-data {
  padding-left: 8px;
  font-size: 12px;
  font-weight: 400;
}

.name {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  align-items: center;
  justify-items: center;
  height: 68px;
}

.table-user-image {
  width: 52px;
  height: 52px;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
}

.table-user-name {
  justify-self: start;
  margin-left: 8px;
}

.table-data-status {
  width: 60%;
  height: 24px;
  border-radius: 12px;
  background-color: $theme_color_light_blue_2x;
  display: grid;
  align-items: center;
  justify-items: center;
}

.table-data-details {
  width: 80%;
  height: 40px;
  border: 2px solid $theme_color_blue;
  background-color: $theme_color_white;
  color: $theme_color_blue;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  border-radius: 8px;
}
