@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loginPageLeft {
  flex: 0.5;
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/ic_login-background.png");
  background-size: cover;
  background-repeat: no-repeat;

  .loginPage-logo {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 3rem;
      margin-bottom: 3rem;
      font-weight: 500;
    }

    > img {
      width: 80%;
      max-width: 30rem;
      object-fit: contain;
    }
  }
}

.loginPageRight {
  padding: 1.75rem;
  width: 60%;

  .heading {
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }

  .strong-heading {
    color: $theme_color_blue;
  }

  .input-data-container {
    margin-bottom: 1.5rem;
  }

  .label {
    font-size: medium;
    margin-bottom: 0.75rem;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: $gray-200;

    .input-container {
      flex: 1;
    }
  }

  .custom-field {
    width: 100%;
    border-radius: 0.5rem;
    height: 3rem;
    padding: 0 0.75rem 0 0.75rem;
    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  .password-icon {
    cursor: pointer;
    height: 3rem;
    display: flex;
    padding: 0 1rem;

    .input-icon {
      width: 1.5rem;
    }
  }

  .button-login {
    margin-top: 3rem;
    width: 100%;
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.5s ease-out;

    button {
      width: 90%;
      height: 100%;
      align-items: center;
      margin: 0 auto;
      border: none;
      border-radius: 0.25rem;
      transition: all 1.5s ease-out;
      background-size: 120% auto;
      background-color: $theme_color_blue;
      color: $white;
      font-size: large;
      -webkit-transition: 1s;
      box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);

      &:focus-visible {
        outline: none;
      }
    }
  }

  .signin-image {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }

  .side-nav-icon {
    color: $white;
  }
}
