@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.loginPageLeft {
  flex: 0.5;
  display: flex;
  height: 100%;
  width: 100%;
  // background: #f0f3f3;
  background-image: url("../../assets/ic_login-background.png");
  background-size: cover;
  background-repeat: no-repeat;

  .loginPage-logo {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 3rem;
      margin-bottom: 3rem;
      font-weight: 500;
    }

    >img {
      width: 80%;
      max-width: 500px;
      object-fit: contain;
    }
  }
}

.login-form {
  padding: 28px;
  width: 60%;
  // box-shadow: 4px 0.5rem 2rem 4px #e5f7ff;
  backdrop-filter: blur(15.5px);
  border-radius: 10px;
  background: rgba(229, 247, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.heading {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.strong-heading {
  color: $theme_color_blue;
  // font-size: 1.5rem;
}

.label {
  font-size: medium;
  margin-bottom: 0.75rem;
}

.input-login-containers {
  width: 100%;
  margin-bottom: 1.5rem;
  // color: $theme_color_3;
}

.custom-field {
  width: 100%;
  height: 52px;
  background-color: $theme_color_light_blue_3x;
  border: none;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  color: $theme_color_3;

  &:focus {
    outline: none;
  }
}

.password {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 30%;
  right: 10px;
  cursor: pointer;
}

.input-icon {
  // transform: scale(0.7);
}

.button-login {
  margin-top: 52px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s ease-out;
}

.button {
  width: 90%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  border: none;
  border-radius: 0.5rem;
  transition: all 1.5s ease-out;
  background-size: 120% auto;
  background-color: $theme_color_blue;
  color: $white;
  font-size: large;
  -webkit-transition: 1s;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);

  &:focus-visible {
    outline: none;
  }
}

.signin-image {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.side-nav-icon {
  color: $white;
}