@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

#itineraryDetailPage {
  // display: grid;
  // grid-template-rows: 1fr 2fr 12fr;
}

.nav-heading {
  font-size: x-large;
  font-weight: 400;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  height: 60px;
}

.createItineraryNav {
  width: 100%;
  display: grid;
  height: 5.5rem;
  min-width: 54rem;
  align-self: center;
  border-radius: 0.5rem;
  justify-self: center;
  grid-template-columns: repeat(7, 1fr);
  background-image: linear-gradient(
    to right,
    $theme_color_light_lime,
    $theme_color_light_blue_2x
  );
}

.form-request {
  font-size: 0.75rem;
  margin: 4px 0.5rem 0px 0rem;
}

.step {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
}

.step-number-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.step-number {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid $theme_color_blue;
  color: $theme_color_dark_grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-name-background {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0.5rem;
  justify-content: center;
  text-decoration: none;
}

.step-name {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration: none;
}

.step > .selected {
  background-color: $theme_color_blue;
  color: $white;
  border-radius: 0.5rem;
}

.tab-active {
  color: #000000;
  background-color: #73d8bb;
}

.itineraryImage {
  max-width: 6rem;
  border-radius: 15px;
  max-height: 4rem;
  padding: 0.25rem;
}

.continue-button {
  padding: 10px 30px;
  background-color: #0b9dd8;
  color: white;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin: 4px 0.5rem 0px 0.5rem;

  &:hover {
    filter: brightness(1.05);
  }
}
